body {
  min-height: 100%;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar
{
	min-height:124px;
}

.bsnavbar
{
  margin-bottom: 19px;
	min-height:124px;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
  
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #8c1005;
  background-color: transparent;
  border-right: 1px solid #8c1005;
}


.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}

/*
 * Banner Ads
 *
 * Styles for displaying the banner ads
 */
.bannerad {
  display:block; 
  background: #2777ad; 
  border: 0; 
  box-shadow: inset 0 3px 5px rgba(0,0,0,.075);
  font-size: 13px; 
  height: 115px; 
  line-height: 16px;
  margin-top: 4px; 
  overflow: hidden; 
  text-align: left;
  width: 300px;
}
.bannerad-img {
  border: none; 
  display: inline; 
  float: left; 
  height: 100px; 
  margin: 9px; 
  margin: 7px 9px 9px 9px;
  width: 130px;
}
.bannerad-text {
  display: block; 
  float: none; 
  margin-left: 145px;
  padding-top: 11px;
  width: 142px; 
}
.bannerad-text a {
  color: #fff;
  font-weight: bold; 
  text-decoration: none;
}
.bannerad-text a small {
  font-weight: normal; 
}
.bannerad-tag {
  color: #cdbfe3;
  display: block; 
  float: none; 
  margin-left: 145px;
  margin-top: 9px; 
  text-align: left; 
  width: 142px; 
  color: #999999;
}
.bannerad-tag a {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .bannerad {
    border-radius: 4px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.075), 0 1px 0 rgba(255,255,255,.1);
  }
}
@media screen and (min-width: 992px) {
  .bannerad {
  }
}
